
@{

    <div>Удаление невозможно. Прежде чем удалить участника, убедитесь, что удалены все лоты, в которых он задействован в качестве продавца или покупателя</div>
    <div>
        <a asp-action="Index">Назад</a>
    </div>
}
