
@{

    <div>Нельзя делать одного и того же пользователя участником одного и того же аукциона несколько раз, измените ваш выбор.</div>
    <div>
        <a asp-action="Create">Назад</a>
    </div>
}
