@model IEnumerable<Business.Interop.Data.AuctionItemDto>

@{
    ViewData["Title"] = "Вещи";
}
<div class="container" style="border-radius: 5px;">
    <div class="row" style="background-color:aquamarine; border-radius:3px;">
        <div class="col-3">Название</div>
        <div class="col-3">Жанр</div>
        <div class="col-6"><a asp-controller="AuctionItem" asp-action="Create">Добавить</a></div>


    </div>
</div>
<br />
@foreach (var item in Model)
{
    <div class="container" style="border-radius: 5px;">

        <div class="row" style="background-color:#effdff; border-radius:3px;">
            <div class="col-3">@item.Name</div>
            <div class="col-3">@item.Genre.Name</div>
            <div class="col-3"><a asp-controller="AuctionItem" asp-action="Delete" asp-route-id="@item.Id">Удалить</a></div>
            <div class="col-3"><a asp-controller="AuctionItem" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a></div>

        </div>
    </div>
    <br />
}