@model Business.Interop.Data.LotDto

@{
    ViewData["Title"] = "Создание лота";
}

<h2>Создаем</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuctionId" class="control-label">Аукцион</label>
                <select asp-antiforgery="true" data-live-search="true" autocomplete="true" asp-for="AuctionId" class="form-control" asp-items="ViewBag.AuctionIds">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="AuctionId" class="text-danger"></span>
            </div>

          

            <div class="form-group">
                <input style="background-color:chartreuse" type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/AuctionList.js"></script>
    <script src="~/js/ParticipantList.js"></script>
    <script src="~/js/AuctionItemList.js"></script>

}