@{
   
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Труды и дни</h1>
    <p><a asp-controller="Auction" asp-action="Index"> Аукционы</a></p>
    <p><a asp-controller="User" asp-action="Index"> Пользователи</a></p>
    <p><a asp-controller="AuctionItem" asp-action="Index"> Вещи</a></p>
    <p><a asp-controller="Participant" asp-action="Index">Участники</a></p>
    <p><a asp-controller="Lot" asp-action="Index">Лоты</a></p>

</div>
